{% extends "base.html" %}
{% block content %}
<div class="container mt-5" style="max-width: 24rem;">
    {% if animal %}
    <div class="card mb-4">
        <img src="{{ url_for('uploaded_file', filename=animal.image) }}" class="card-img-top" alt="{{ animal.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ animal.name }}</h5>
            <p class="card-text">{{ animal.description }}</p>
            <a href="/animals/{{ animal.id }}" class="btn btn-primary">View Details</a>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <a href="/animals?index={{ current_animal_index - 1 }}" class="btn btn-secondary {% if current_animal_index == 0 %}disabled{% endif %}">Previous</a>
        <a href="/animals?index={{ current_animal_index + 1 }}" class="btn btn-secondary {% if current_animal_index == total_animals - 1 %}disabled{% endif %}">Next</a>
    </div>
    {% else %}
        <p class="text-center">No more animals available.</p>
    {% endif %}
</div>
{% endblock %}